<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">이용약관</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">개인정보</a>
      </li>
    </ul>
    <p class="col-md-4 mb-0 text-body-secondary">
      웨이브커넥트(플럽)는 통신판매중개자로서 통신판매에 직접 참여하지 않으며,
      개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등의 의무와 책임은
      거래 당사자에게 있습니다.
      <strong
        >첫 거래 시, 반드시 계약서를 작성하거나 계약금(착수금)을 받으시는 것을
        권장드립니다.</strong
      >
    </p>
    <a
      href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
  </footer>
</div>
