<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="/recruit/1" class="nav-link px-2 link-secondary">팀 채용</a>
      </li>
      <li><a href="/register" class="nav-link px-2">팀 등록</a></li>
      <li><a href="/find" class="nav-link px-2">시공팀을 찾아보세요</a></li>
    </ul>

    <div class="col-md-3 mb-2 mb-md-0">
      <a
        href="/find"
        class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        <svg
          class="bi"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>
    <div class="col-md-3 text-end">
      <a href="/login" class="btn btn-outline-primary me-2">로그인</a>
      <a href="/join" class="btn btn-primary me-2">가입하기</a>
    </div>
  </header>
</div>
